body.dark-mode {
    background: #1E1E2F	 !important;
    color: #f0f0f0;
}

body.dark-mode .container {
    background-color: #343A42;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

body.dark-mode h2,
body.dark-mode p,
body.dark-mode label,
body.dark-mode h4,
body.dark-mode h5 {
    color: #f0f0f0;
}

body.dark-mode .form-control,
body.dark-mode .btn {
    background-color: #444;
    color: #fff;
    border-color: #555;
}

body.dark-mode .status-panel {
    background-color: #343A42;
    color: #f0f0f0;
}

body.dark-mode .app-logo {
    background-image: url('../assets/logo-dark.jpg') !important;
}

  